.search h1 {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  margin: 40px 0 60px; }
  .search h1 span {
    border-bottom: 5px dashed #E0E7ED; }

.wrap_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 100px; }

.content_search {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  overflow: hidden; }
  .content_search p {
    font-size: 16px;
    line-height: 158%;
    color: #3D4658; }

.text_search {
  font-size: 16px;
  line-height: 158%;
  color: #3D4658;
  margin: 0 0 30px; }

.card_jurist {
  background: #FFFFFF;
  border: 1px solid #E0E7ED;
  border-radius: 9px;
  padding: 16px 16px 106px;
  position: relative;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.head_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 18px;
  position: relative; }

.info_card {
  width: 92px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 13px; }

.photo_card {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 13px; }
  .photo_card img {
    display: block;
    max-width: 100%;
    height: auto; }

.review_card {
  width: 92px;
  height: 24px;
  background: #FDFBD5;
  border-radius: 4px;
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #3D4658;
  text-align: center;
  padding: 0 3px;
  margin: 0 auto; }
  .review_card .review_star {
    position: relative;
    padding-left: 16px; }
    .review_card .review_star::before {
      content: '';
      width: 13px;
      height: 13px;
      background: url(../img/icons/star.svg) no-repeat;
      position: absolute;
      left: 0;
      top: 0; }
  .review_card.not_review_card {
    background: #F6F7F8; }

.rating_card {
  width: 41px;
  background: #41A040;
  border-radius: 4px;
  height: 25px;
  text-align: center;
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  right: 0; }
  .rating_card.rating_green {
    background: #41A040; }
  .rating_card.rating_yellow {
    background: #F2C94C; }
  .rating_card.rating_gray {
    background: #777E8C; }

.text_card {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.profession_card {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #777E8C; }

.name_card {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1E2139;
  margin-bottom: 12px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-right: 45px; }
  .name_card .verification {
    padding-right: 20px;
    position: relative; }
    .name_card .verification::after {
      content: '';
      width: 13px;
      height: 13px;
      background: url(../img/icons/verification.svg) no-repeat;
      background-size: 100%;
      position: absolute;
      right: 0;
      bottom: 4px; }
    .name_card .verification:hover .info_verification {
      opacity: 1;
      z-index: 1; }
  .name_card:hover {
    text-decoration: underline; }

.info_verification {
  width: 176px;
  display: inline-block;
  position: absolute;
  background: #41A040;
  border-radius: 4px;
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-align: center;
  padding: 6px;
  bottom: 100%;
  right: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.tags_card {
  padding: 0;
  margin: 0; }
  .tags_card li {
    list-style-type: none;
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 161%;
    color: #777E8C;
    position: relative;
    padding-left: 20px;
    margin-bottom: 2px; }
    .tags_card li:last-child {
      margin-bottom: 0; }
  .tags_card .tag_city::before {
    content: '';
    width: 14px;
    height: 14px;
    background: url(../img/icons/map-marker.svg) no-repeat;
    position: absolute;
    top: 2px;
    left: 0; }
  .tags_card .tag_experience::before {
    content: '';
    width: 14px;
    height: 14px;
    background: url(../img/icons/award.svg) no-repeat;
    position: absolute;
    top: 2px;
    left: 0; }
  .tags_card .tag_work::before {
    content: '';
    width: 14px;
    height: 14px;
    background: url(../img/icons/notebooks.svg) no-repeat;
    position: absolute;
    top: 2px;
    left: 0; }

.description_card {
  font-size: 14px;
  line-height: 157%;
  color: #777E8C;
  height: 44px;
  overflow: hidden; }

.bottom_card {
  width: 100%;
  padding: 0 16px 15px;
  position: absolute;
  left: 0;
  bottom: 0; }

.advan_card {
  padding: 0;
  margin: 0 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .advan_card li {
    list-style-type: none;
    font-size: 14px;
    line-height: 157%;
    color: #777E8C;
    padding-left: 16px;
    position: relative;
    margin-right: 13px; }
    .advan_card li:last-child {
      margin-right: 0; }
    .advan_card li::before {
      content: '';
      width: 12px;
      height: 12px;
      background: url(../img/icons/checkmark.svg) no-repeat;
      background-size: 100%;
      position: absolute;
      top: 4px;
      left: 0; }

.buttons_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .buttons_card .btn {
    width: 130px;
    height: 34px;
    line-height: 34px;
    margin-right: 5px; }
    .buttons_card .btn svg {
      top: 3px; }
  .buttons_card .btn_light {
    line-height: 32px; }
  .buttons_card .btn_whatsapp {
    width: 38px;
    height: 34px;
    border: 1px solid #E0E7ED;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .buttons_card .btn_whatsapp:hover {
      background: #EDFFED; }

.jurist_search .card_jurist {
  padding: 16px;
  margin-bottom: 20px; }

.jurist_search .card_jurist_pay {
  border: 1px solid #41A040; }

.jurist_search .head_card {
  padding-right: 147px;
  margin-bottom: 11px; }

.jurist_search .info_card {
  width: 100px;
  margin: 0 36px 0 22px; }

.jurist_search .photo_card {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  display: block; }

.jurist_search .rating_card {
  position: static;
  margin: 0 auto 5px; }

.jurist_search .review_card {
  text-decoration: none; }

.jurist_search .profession_card {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  line-height: 161%;
  color: #848B99;
  margin: 0; }

.jurist_search .name_card {
  display: inline;
  position: relative; }
  .jurist_search .name_card .verification {
    position: absolute;
    bottom: 0;
    right: -25px; }
    .jurist_search .name_card .verification::after {
      width: 16px;
      height: 16px;
      bottom: 3px; }

.jurist_search .info_verification {
  bottom: 25px; }

.jurist_search .tags_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 17px 0 14px; }
  .jurist_search .tags_card li {
    font-size: 14px;
    padding-left: 19px;
    margin-right: 12px;
    margin-bottom: 0; }
    .jurist_search .tags_card li:last-child {
      margin-right: 0; }
  .jurist_search .tags_card .tag_city::before {
    top: 4px; }
  .jurist_search .tags_card .tag_experience::before {
    top: 4px; }
  .jurist_search .tags_card .tag_work::before {
    top: 4px; }

.jurist_search .description_card {
  height: auto;
  position: relative;
  margin-bottom: 14px;
  position: relative; }
  .jurist_search .description_card .description_hide {
    display: none;
    padding-bottom: 20px; }
  .jurist_search .description_card p {
    margin: 0;
    line-height: 160%;
    font-size: 14px;
    display: inline; }
  .jurist_search .description_card .more_description {
    color: #1E2139;
    text-decoration: none;
    margin-left: 10px; }
    .jurist_search .description_card .more_description:hover {
      text-decoration: underline; }
    .jurist_search .description_card .more_description.active {
      position: absolute;
      bottom: 5px;
      right: 0; }

.jurist_search .list_price {
  margin: 0;
  padding: 0; }
  .jurist_search .list_price.hidden {
    display: none; }
  .jurist_search .list_price li {
    list-style-type: none;
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-bottom: 3px; }
    .jurist_search .list_price li span {
      background: #FFFFFF;
      position: relative;
      z-index: 2; }
    .jurist_search .list_price li::after {
      content: '';
      width: 100%;
      height: 1px;
      background: url(../img/icons/line.svg);
      position: absolute;
      left: 0;
      bottom: 5px; }

.jurist_search .more_price {
  text-align: right;
  margin-top: -5px; }

.jurist_search .more_btn {
  font-size: 12px;
  line-height: 160%;
  color: #777E8C;
  cursor: pointer;
  position: relative;
  padding-right: 19px; }
  .jurist_search .more_btn::after {
    content: '';
    width: 11px;
    height: 11px;
    background: url(../img/icons/more.svg) no-repeat;
    position: absolute;
    top: 2px;
    right: 0; }
  .jurist_search .more_btn.active::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 3px; }

.jurist_search .bottom_card {
  position: static;
  padding: 0 0 0 158px; }

.jurist_search .advan_card {
  display: none; }

.jurist_search .sale_card {
  background: #FDFBD5;
  border-radius: 6px;
  width: 147px;
  padding: 6px 2px 7px;
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 157%;
  text-align: center;
  color: #3D4658;
  position: absolute;
  top: 16px;
  right: 16px; }
  .jurist_search .sale_card span {
    color: #1E2139;
    display: block; }

.jurist_search .buttons_card .btn {
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin-right: 8px; }

.jurist_search .buttons_card .btn_light {
  line-height: 38px; }

.jurist_search .buttons_card .btn_whatsapp {
  width: 54px;
  height: 40px; }

/* Callback */
.callback {
  margin-bottom: 0; }

.wrap_callback {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E0E7ED;
  border-radius: 9px;
  margin-bottom: 20px;
  overflow: hidden; }

.text_callback {
  background: -o-linear-gradient(182.27deg, #EEF2FB 5.69%, #EAEBF7 101.13%);
  background: linear-gradient(267.73deg, #EEF2FB 5.69%, #EAEBF7 101.13%);
  padding: 20px 22px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.title_callback {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 117.9%;
  max-width: 240px; }

.info_callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3px; }
  .info_callback .item_info {
    font-size: 16px;
    line-height: 19px;
    max-width: 118px;
    margin-left: 35px; }
    .info_callback .item_info:first-child {
      margin-left: 0; }
    .info_callback .item_info span {
      font-family: 'PTSans-Bold', sans-serif;
      font-weight: 700;
      display: block; }

.form_callback {
  padding: 0 20px 18px;
  margin-top: -43px; }
  .form_callback .photo_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-right: 20px; }
    .form_callback .photo_form a {
      width: 54px;
      height: 54px;
      display: block;
      border-radius: 50%;
      margin-right: -21px;
      overflow: hidden; }
      .form_callback .photo_form a img {
        width: 100%;
        height: auto;
        display: block; }
      .form_callback .photo_form a:nth-child(1) {
        z-index: 4; }
      .form_callback .photo_form a:nth-child(2) {
        z-index: 3; }
      .form_callback .photo_form a:nth-child(3) {
        z-index: 2; }
      .form_callback .photo_form a:nth-child(4) {
        z-index: 1;
        margin-right: 0; }
  .form_callback .text_form {
    font-size: 12px;
    line-height: 14px;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    max-width: 430px;
    color: #777E8C; }
  .form_callback .bottom_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .form_callback .info_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .form_callback form textarea {
    display: block;
    width: 100%;
    height: 86px;
    resize: none;
    background: #FFFFFF;
    border: 1px solid #E0E7ED;
    border-radius: 9px;
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #777E8C;
    padding: 10px 11px;
    margin-bottom: 22px; }
  .form_callback form button.btn {
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: #353961;
    border-radius: 4px;
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 0;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    border: none; }
    .form_callback form button.btn:hover {
      background: #1e2139; }

/* Pagination */
.pagination_search {
  margin-top: 77px; }
  .pagination_search ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .pagination_search ul li {
      list-style-type: none;
      font-family: 'PTSans-Bold', sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #777E8C;
      margin: 0 17.5px; }
      .pagination_search ul li a {
        color: #777E8C;
        text-decoration: none; }
    .pagination_search ul .next_pagination {
      display: block;
      width: 18px;
      height: 18px;
      background: url(../img/icons/next-pagination.svg) no-repeat;
      background-size: 100% 100%; }

/* Sidebar Search */
.sidebar_search {
  width: 343px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  margin-right: 26px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.nav_sidebar {
  display: none;
  margin-bottom: 30px; }
  .nav_sidebar .search_filter {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3; }

.btn_filter {
  display: block;
  width: 110px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E0E7ED;
  border-radius: 9px;
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 158%;
  color: #1E2139;
  text-decoration: none;
  text-align: center;
  line-height: 38px;
  margin-right: 11px; }
  .btn_filter img {
    position: relative;
    top: 3px;
    margin-right: 2px; }

.close_filter {
  display: block;
  width: 16px;
  height: 16px;
  background: url(../img/icons/close.svg) no-repeat;
  position: absolute;
  top: 17px;
  right: 18px;
  display: none; }

.search_filter {
  display: block;
  height: 40px;
  width: 100%;
  max-width: 500px;
  background: #FFFFFF;
  border: 1px solid #E0E7ED;
  border-radius: 9px;
  position: relative;
  padding: 0; }
  .search_filter::after {
    content: '';
    width: 14px;
    height: 14px;
    background: url(../img/icons/field_search.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 13px; }
  .search_filter input {
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    padding: 0 14px;
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #777E8C; }

.select_filter {
  display: block;
  height: 40px;
  width: 100%;
  max-width: 500px;
  background: #FFFFFF;
  border: 1px solid #E0E7ED;
  border-radius: 9px;
  position: relative;
  padding: 0; }
  .select_filter::after {
    content: '';
    width: 14px;
    height: 14px;
    background: url(../img/icons/field-down.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 13px; }

.widget {
  background: #FFFFFF;
  border: 1px solid #E0E7ED;
  border-radius: 9px;
  margin-bottom: 20px; }
  .widget img {
    display: block;
    max-width: 100%; }

.title_widget {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px; }

.widget_filter {
  background: #FFFFFF;
  border: 1px solid #E0E7ED;
  border-radius: 9px;
  padding: 0 16px 16px;
  position: relative;
  margin-bottom: 20px; }
  .widget_filter .dropdown-menu {
    max-width: 100% !important;
    min-width: 200px !important;
    width: 100% !important; }
  .widget_filter .widget-wrap {
    padding: 0 16px 12px; }
  .widget_filter .title_widget,
  .widget_filter .widget-title {
    padding: 16px 16px 13px;
    border-bottom: 1px solid #E0E7ED;
    margin: 0 -16px 13px;
    width: calc(100% + 32px);
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; }
  .widget_filter .form-group input {
    display: block;
    width: 100%;
    height: 34px;
    border: none;
    background: transparent;
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #777E8C;
    padding: 0 16px;
    border: 1px solid #E0E7ED;
    border-radius: 4px; }
  .widget_filter .form-group ::-webkit-input-placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-group ::-moz-placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-group :-ms-input-placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-group ::-ms-input-placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-group ::placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-group ::-webkit-input-placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-group ::-ms-input-placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-group :-moz-placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-group ::-moz-placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-group :-ms-input-placeholder {
    color: #777E8C;
    opacity: 1; }
  .widget_filter .form-control .btn {
    height: 34px;
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #777E8C;
    line-height: 32px;
    padding: 0 16px; }
  .widget_filter .form-group {
    margin-bottom: 13px; }
    .widget_filter .form-group .search-icon:before {
      left: auto;
      content: '';
      width: 14px;
      height: 14px;
      background: url(../img/icons/field_search.svg) 0 0/100% no-repeat;
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: 13px; }
  .widget_filter .form-control {
    height: 34px;
    line-height: 32px; }
  .widget_filter .bootstrap-select .filter-option-inner {
    line-height: 32px; }
  .widget_filter .city-select-filter .filter-option-inner-inner, .widget_filter .advanced-search-widget .bootstrap-select > .btn {
    color: #777E8C; }

.form_filter {
  width: 100%; }
  .form_filter .form-group {
    margin-bottom: 13px; }
  .form_filter .item_form {
    display: block;
    width: 100%;
    height: 36px;
    border: 0.824587px solid #E0E7ED;
    border-radius: 4px;
    margin-bottom: 13px;
    overflow: hidden; }
  .form_filter input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #777E8C;
    padding: 0 16px; }
  .form_filter .checkbox {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 7px; }
    .form_filter .checkbox label {
      padding: 0; }
    .form_filter .checkbox input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      height: auto;
      margin: 0;
      line-height: 0; }
      .form_filter .checkbox input + label::before {
        content: '';
        display: inline-block;
        width: 19px;
        height: 19px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        background: #FFFFFF;
        border: 0.824587px solid #E0E7ED;
        border-radius: 1.64917px;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer; }
      .form_filter .checkbox input:checked + label::before {
        border-color: #353961;
        background-color: #353961;
        background-image: url(../img/icons/check.svg); }
    .form_filter .checkbox label {
      padding-left: 37px;
      position: relative; }
    .form_filter .checkbox span {
      font-family: 'PTSans-Bold', sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: #848B99; }

.widget_banner {
  padding: 23px 16px 17px; }
  .widget_banner img {
    margin: 0 auto; }

.widget_map {
  border: none; }

.widget_article {
  border-radius: 7px;
  padding: 11px 16px 14px; }
  .widget_article .title_widget {
    margin-bottom: 11px; }

.link_widget {
  display: inline-block;
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #1E2139;
  text-decoration: underline; }

/* Cities */
.cities {
  margin-bottom: 90px; }
  .cities h2 {
    margin-bottom: 21px; }

.wrap_cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.item_cities {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .item_cities span {
    display: block;
    width: auto;
    padding: 9px 11px 10px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    border-radius: 9px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 4px; }
    .item_cities span.active, .item_cities span:hover {
      background: #F6F7F8; }
  .item_cities:last-child {
    width: auto; }
  .item_cities:first-child {
    width: auto; }

/* Section Online */
.online {
  margin-bottom: 70px; }
  .online h2 {
    margin-bottom: 30px; }

/* Carousel */
.carousel {
  width: calc(100% + 10px);
  margin: 0 -5px;
  padding-bottom: 36px; }
  .carousel .slick-slide {
    margin: 0 5px; }
  .carousel .slick-arrow {
    width: 16px;
    height: 16px;
    bottom: 0;
    top: auto;
    margin: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 2; }
    .carousel .slick-arrow::before {
      display: none; }
    .carousel .slick-arrow.slick-prev {
      background-image: url(../img/icons/arr-prev.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: 44%; }
    .carousel .slick-arrow.slick-next {
      background-image: url(../img/icons/arr-next.svg);
      background-repeat: no-repeat;
      background-position: center;
      right: 44%; }
  .carousel .item_carousel {
    padding-bottom: 10px; }

.carousel_jurist .card_jurist {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .carousel_jurist .card_jurist:hover {
    -webkit-box-shadow: 0px 4px 8px rgba(53, 57, 97, 0.24);
    box-shadow: 0px 4px 8px rgba(53, 57, 97, 0.24); }

/* Publication */
.publication {
  margin-bottom: 60px; }
  .publication h2 {
    margin-bottom: 30px; }

.carousel_articles {
  padding-bottom: 46px; }

.card_articles {
  background: #FFFFFF;
  border: 2px solid #E0E7ED;
  border-radius: 9px;
  position: relative;
  overflow: hidden; }

.category_articles {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 1px 15px;
  background: -o-linear-gradient(182.27deg, #EEF2FB 5.69%, #EAEBF7 101.13%);
  background: linear-gradient(267.73deg, #EEF2FB 5.69%, #EAEBF7 101.13%);
  border-radius: 15px;
  position: absolute;
  top: 17px;
  left: 17px; }

.image_articles {
  height: 184px;
  overflow: hidden; }
  .image_articles img {
    display: block; }

.text_articles {
  padding: 15px 16px 18px; }
  .text_articles .comments_articles > div {
    padding: 0;
    margin: 0; }

.title_articles {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #1E2139;
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
  height: 52px;
  overflow: hidden; }
  .title_articles:hover {
    text-decoration: underline; }

.jurist_articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 21px; }
  .jurist_articles .photo_jurist {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin: 0;
    margin-right: 12px; }
    .jurist_articles .photo_jurist img {
      width: 100%;
      height: auto;
      display: block; }
  .jurist_articles .text_jurist {
    padding: 0; }
  .jurist_articles .name_jurist {
    font-family: 'PTSans-Bold', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #1E2139;
    margin-bottom: 4px;
    display: block;
    text-decoration: none; }
    .jurist_articles .name_jurist:hover {
      text-decoration: underline; }
  .jurist_articles .tag_jurist {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .jurist_articles .tag_jurist li {
      list-style-type: none;
      font-family: 'PTSans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #777E8C;
      padding-right: 11px;
      margin-right: 8px;
      position: relative; }
      .jurist_articles .tag_jurist li::after {
        content: '';
        width: 3px;
        height: 3px;
        background: #353961;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -1.5px;
        right: 0; }
      .jurist_articles .tag_jurist li:last-child {
        margin-right: 0;
        padding-right: 0; }
        .jurist_articles .tag_jurist li:last-child::after {
          display: none; }

.bottom_articles {
  font-size: 14px;
  line-height: 17px;
  color: #777E8C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.info_articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 17px;
  color: #777E8C;
  font-family: 'PTSans', sans-serif; }
  .info_articles > div {
    margin-right: 20px; }

.nav_articles {
  font-size: 14px;
  line-height: 17px;
  color: #777E8C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .nav_articles > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 18px; }
    .nav_articles > div span {
      margin-left: 5px;
      position: relative;
      top: 2px; }
    .nav_articles > div img {
      width: 16px;
      height: 16px; }

/* Faq */
.faq {
  margin-bottom: 130px; }
  .faq h2 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 30px; }

.wrap_faq {
  background: #F6F7F8;
  border-radius: 15px; }

.item_faq {
  padding: 16px 34px 17px;
  border-bottom: 2px solid #FFFFFF; }
  .item_faq.active .text_faq {
    display: block; }

.title_faq {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1E2139;
  padding-right: 50px;
  position: relative;
  cursor: pointer; }
  .title_faq::after {
    content: '';
    width: 18px;
    height: 18px;
    background: url(../img/icons/arr-faq.svg) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .title_faq.active::after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.text_faq {
  font-size: 14px;
  line-height: 160%;
  display: none;
  margin: 0;
  padding: 15px 0 5px; }

/* Register */
.wrap_register {
  background: -o-linear-gradient(182.27deg, #EEF2FB 5.69%, #EAEBF7 101.13%);
  background: linear-gradient(267.73deg, #EEF2FB 5.69%, #EAEBF7 101.13%);
  border-radius: 15px;
  padding: 20px 56px 28px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden; }

.text_register {
  width: 48%; }

.title_register {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.005em;
  color: #353961;
  margin-bottom: 17px; }

.descr_register {
  font-family: 'PTSans-Bold', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px; }

.form_register {
  width: 48%;
  max-width: 506px; }
  .form_register form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .form_register form input {
      height: 44px;
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3;
      background: #FFFFFF;
      border: 1px solid #E0E7ED;
      border-radius: 6px;
      font-family: 'PTSans-Bold', sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      color: #777E8C;
      padding: 0 19px; }
    .form_register form button.btn {
      width: 88px;
      height: 44px;
      border: none;
      border-radius: 6px;
      background-image: url(../img/icons/arr-btn.svg);
      background-repeat: no-repeat;
      background-position: center;
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      margin: 0 0 0 10px;
      font-family: 'PTSans-Bold', sans-serif;
      font-weight: 700;
      font-size: 14px;
      color: transparent;
      cursor: pointer; }
    .form_register form p {
      font-size: 12px;
      line-height: 14px;
      color: #777E8C;
      margin: 9px 0 0; }
      .form_register form p a {
        color: #353961;
        text-decoration: none; }

@media only screen and (max-width: 1366px) {
  .card_jurist {
    padding-bottom: 112px; }
  .info_card {
    margin-right: 0; }
  .photo_card {
    width: 70px;
    height: 70px;
    margin-bottom: 21px; }
  .rating_card {
    width: 34px;
    height: 21px;
    line-height: 21px; }
  .profession_card {
    margin: 3px 0 5px; }
  .name_card {
    font-size: 16px;
    line-height: 19px;
    margin-right: 0; }
    .name_card .verification::after {
      bottom: 1px; }
  .tags_card {
    margin-left: 11px; }
  .description_card {
    font-size: 12px;
    line-height: 157%; }
  .advan_card {
    margin-bottom: 19px; }
    .advan_card li {
      font-size: 12px;
      padding-left: 12px; }
      .advan_card li::before {
        width: 10px;
        height: 10px; }
  .buttons_card .btn {
    width: 105px;
    margin-right: 3px;
    font-size: 12px; }
    .buttons_card .btn svg {
      width: 14px;
      height: 14px;
      margin-right: 2px; }
  .buttons_card .btn_whatsapp {
    width: 34px; }
  .card_articles {
    border-width: 1px; }
  .text_articles {
    padding-top: 7px;
    padding-bottom: 15px; }
  .title_articles {
    font-size: 20px;
    line-height: 24px;
    height: 48px; }
  .jurist_articles {
    margin-bottom: 23px; }
    .jurist_articles .tag_jurist li {
      font-size: 12px;
      line-height: 14px;
      padding-right: 9px;
      margin-right: 6px; }
  .info_articles {
    font-size: 12px;
    line-height: 14px; }
    .info_articles > div {
      margin-right: 6px; }
  .nav_articles > div {
    margin-left: 10px; }
  .search h1 {
    font-size: 42px;
    line-height: 50px;
    margin: 30px 0 40px; }
  .sidebar_search {
    width: 308px;
    margin-right: 16px; }
  .form_filter .checkbox label {
    padding-left: 30px; }
  .form_filter .checkbox span {
    font-family: 'PTSans', sans-serif;
    font-weight: 400; }
  .jurist_search .card_jurist {
    margin-bottom: 16px; }
  .jurist_search .head_card {
    padding: 0;
    margin-bottom: -20px; }
  .jurist_search .info_card {
    margin: 0 30px 0 16px; }
  .jurist_search .name_card {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 22px; }
  .jurist_search .tags_card {
    margin-left: 0; }
  .jurist_search .description_card {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 13px; }
  .jurist_search .bottom_card {
    padding: 0; }
  .jurist_search .buttons_card {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .jurist_search .buttons_card .btn {
      height: 36px;
      line-height: 36px;
      font-size: 14px; }
    .jurist_search .buttons_card .btn_light {
      line-height: 34px; }
    .jurist_search .buttons_card .btn_whatsapp {
      width: 54px;
      height: 36px; }
  .jurist_search .sale_card {
    width: 133px;
    position: static;
    margin-right: 13px;
    padding: 5px 5px; }
    .jurist_search .sale_card span {
      display: inline; }
  .jurist_search .wrap_callback {
    margin-bottom: 16px; }
  .jurist_search .text_callback {
    padding: 19px 19px 56px; }
  .jurist_search .title_callback {
    font-size: 20px;
    max-width: 210px; }
  .jurist_search .info_callback {
    margin: 0; }
    .jurist_search .info_callback .item_info {
      font-size: 14px;
      line-height: 17px;
      max-width: 105px;
      margin-left: 30px; }
      .jurist_search .info_callback .item_info span {
        font-size: 14px;
        line-height: 17px; }
  .jurist_search .form_callback {
    padding: 0 19px 15px;
    margin-top: -38px; }
    .jurist_search .form_callback .photo_form {
      margin-right: 16px; }
    .jurist_search .form_callback .text_form {
      font-size: 11px;
      line-height: 13px; }
    .jurist_search .form_callback form textarea {
      height: 77px;
      padding: 8px 11px;
      font-size: 14px; }
    .jurist_search .form_callback form button.btn {
      height: 36px;
      line-height: 36px;
      margin-left: 30px; }
  .pagination_search {
    margin-top: 35px; }
    .pagination_search ul li {
      font-size: 14px;
      line-height: 17px;
      margin: 0 12.5px; }
  .faq {
    margin-bottom: 80px; }
    .faq h2 {
      margin-bottom: 30px; }
  .text_faq {
    padding: 9px 0 0; }
  .wrap_register {
    padding: 13px 37px 15px 33px; }
  .text_register {
    width: 45%; }
  .title_register {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 14px; }
  .descr_register {
    font-size: 14px;
    line-height: 17px; }
  .form_register {
    width: 52%;
    max-width: 458px; }
  .form_register form input {
    height: 34px;
    font-size: 12px;
    line-height: 14px;
    padding: 0 15px; }
  .form_register form button.btn {
    width: 68px;
    height: 34px;
    margin-left: 13px; }
  .form_register form p {
    margin-top: 8px;
    max-width: 370px; } }

@media only screen and (max-width: 991px) {
  .carousel_jurist {
    width: calc(100% + 32px);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px;
    margin: 0 -16px; }
  .item_carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 307px;
    max-width: 307px;
    white-space: normal;
    margin: 0 6px 0 0;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .item_carousel:last-child {
      margin-right: 0; }
  .carousel_articles {
    width: calc(100% + 32px);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    padding: 0 16px;
    margin: 0 -16px; }
  .card_articles {
    display: inline-block;
    width: 208px;
    white-space: normal;
    margin: 0 6px 0 0;
    overflow: hidden; }
    .card_articles:last-child {
      margin-right: 0; }
  .category_articles {
    font-size: 12px;
    line-height: 15px;
    padding: 1px 9px;
    top: 12px;
    left: 6px; }
  .image_articles {
    height: 100px; }
    .image_articles img {
      width: 100%; }
  .text_articles {
    padding: 8px 10px 9px; }
  .title_articles {
    font-size: 14px;
    line-height: 17px;
    height: 34px;
    margin-bottom: 8px; }
  .jurist_articles {
    margin-bottom: 10px; }
    .jurist_articles .photo_jurist {
      width: 30px;
      height: 30px;
      margin-right: 7px; }
    .jurist_articles .name_jurist {
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 3px; }
    .jurist_articles .tag_jurist li {
      font-size: 10px;
      line-height: 12px;
      padding-right: 6px;
      margin-right: 4px; }
      .jurist_articles .tag_jurist li::after {
        width: 2px;
        height: 2px; }
  .info_articles > div {
    margin-right: 9px; }
  .info_articles .views_articles {
    position: relative;
    padding-right: 13px; }
    .info_articles .views_articles::after {
      content: '';
      width: 12px;
      height: 12px;
      background: url(../img/icons/eye.svg) no-repeat;
      position: absolute;
      top: 1px;
      right: 0; }
    .info_articles .views_articles span {
      display: none; }
  .nav_articles {
    font-size: 11px;
    line-height: 13px; }
    .nav_articles > div {
      margin-left: 5px; }
      .nav_articles > div img {
        width: 12px;
        height: 12px; }
      .nav_articles > div span {
        margin-left: 4px;
        top: 0; }
  .search h1 {
    font-size: 36px;
    line-height: 44px; }
  .wrap_widget {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background: rgba(30, 33, 57, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    overflow: hidden; }
    .wrap_widget.active {
      z-index: 500;
      opacity: 1; }
  .widget_banner,
  .widget_map,
  .widget_article {
    display: none; }
  .close_filter {
    display: block; }
  .widget_filter {
    width: 100%;
    max-width: 343px; }
  .nav_sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .content_search {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 100%; }
  .wrap_cities {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 16px; }
  .item_cities {
    margin: 0 27px;
    display: inline-block; }
    .item_cities:last-child {
      margin-right: 0; }
    .item_cities:first-child {
      margin-left: 0; } }

@media only screen and (max-width: 768px) {
  .search h1 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 30px; }
  .jurist_search .tags_card li {
    font-size: 12px; } }

@media only screen and (max-width: 650px) {
  .cities {
    margin-bottom: 65px; }
  .search h1 {
    font-size: 24px;
    line-height: 28px;
    margin: 28px 0 18px; }
  .text_search {
    font-size: 14px;
    margin-bottom: 12px; }
  .nav_sidebar {
    margin-bottom: 20px; }
  .jurist_search .card_jurist {
    margin-bottom: 20px; }
  .jurist_search .head_card {
    margin-bottom: 23px; }
  .jurist_search .info_card {
    width: 92px;
    margin: 0 13px 0 0; }
  .jurist_search .photo_card {
    width: 70px;
    height: 70px;
    margin-bottom: 22px; }
  .jurist_search .rating_card {
    position: absolute;
    top: 0;
    right: 0; }
  .jurist_search .profession_card {
    margin-top: 9px;
    line-height: 14px; }
  .jurist_search .name_card {
    margin-bottom: 10px; }
    .jurist_search .name_card .verification {
      right: -20px; }
      .jurist_search .name_card .verification::after {
        width: 13px;
        height: 13px;
        bottom: 2px; }
  .jurist_search .tags_card {
    display: block;
    margin-bottom: 0; }
    .jurist_search .tags_card li {
      margin-bottom: 2px; }
  .jurist_search .description_card {
    line-height: 157%;
    margin: 12px 0 0;
    width: calc(100% + 105px);
    margin-left: -105px;
    height: 44px;
    overflow: hidden; }
  .jurist_search .price_card {
    display: none; }
  .jurist_search .sale_card {
    display: none; }
  .jurist_search .advan_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 18px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .jurist_search .advan_card li {
      margin-right: 14px; }
      .jurist_search .advan_card li:last-child {
        margin-right: 0; }
  .jurist_search .buttons_card .btn {
    width: 120px;
    height: 34px;
    line-height: 34px;
    margin-right: 5px; }
  .jurist_search .buttons_card .btn_light {
    line-height: 32px; }
  .jurist_search .buttons_card .btn_whatsapp {
    width: 38px;
    height: 34px; }
  .jurist_search .wrap_callback {
    margin-bottom: 20px; }
  .jurist_search .text_callback {
    padding: 14px 14px 43px; }
  .jurist_search .title_callback {
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px; }
  .jurist_search .info_callback {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .jurist_search .info_callback .item_info {
      font-size: 12px;
      line-height: 14px;
      margin: 0;
      max-width: 90px; }
      .jurist_search .info_callback .item_info span {
        font-size: 14px; }
  .jurist_search .form_callback {
    padding: 0 14px 16px; }
    .jurist_search .form_callback form textarea {
      height: 94px;
      font-family: 'PTSans', sans-serif;
      font-size: 11px;
      line-height: 13px;
      padding: 8px 9px; }
    .jurist_search .form_callback form button.btn {
      width: 126px;
      height: 34px;
      line-height: 34px;
      font-size: 14px;
      margin-left: 0; }
    .jurist_search .form_callback .photo_form a {
      width: 46px;
      height: 46px;
      margin-right: -17px; }
  .form_callback .text_form {
    display: none; }
  .pagination_search {
    margin-top: 40px; }
    .pagination_search ul li {
      font-size: 16px;
      line-height: 19px; }
  .wrap_search {
    margin-bottom: 80px; }
  .cities h2 {
    margin-bottom: 21px; }
  .item_cities span {
    margin-bottom: 7px; }
  .online {
    margin-bottom: 45px; }
    .online h2 {
      margin-bottom: 30px; }
  .title_faq::after {
    width: 12px;
    height: 12px; }
  .wrap_register {
    padding: 19px 20px 18px; }
  .text_register {
    width: 100%; }
  .title_register {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px; }
  .descr_register {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 17px; }
  .form_register {
    width: 100%;
    max-width: 100%; }
  .form_register form input {
    width: 100%;
    height: 37px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 0 17px;
    border: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .form_register form button.btn {
    width: 100%;
    height: 37px;
    margin: 0;
    background-image: none;
    color: #FFFFFF;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .form_register form p {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 7px 0 18px; } }

@media only screen and (max-width: 460px) {
  .cities h2 {
    max-width: 265px; }
  .online h2 {
    max-width: 265px; } }
