/* reset */
html, body, h1, div, button, canvas, ul, li { margin: 0; padding: 0; }
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
ul { list-style-type: none; }

body { font: 400 15px/20px Roboto, sans-serif; color: #333; background-color: #fff; }
h1 { font-weight: 500; font-size: 20px; margin-bottom: 30px; }

/* grid */
html, body, .wrap { height: 100%; }
.wrap { width: 1024px; margin: 0 auto 20px; padding: 50px 10px; }
.wrap > div { margin-bottom: 30px; }
	.wrap > div .container + .container { margin-left: 50px; }

.flex {  display: -webkit-box; display: -ms-flexbox; display: flex; }

/* content */
.container { width: 300px; height: 420px; position: relative; border: solid 1px #dedede; border-radius: 3px; -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.04); box-shadow: 0 2px 0 0 rgba(0,0,0,0.04); background: #fff; }

.viewport { overflow: hidden; position: absolute; left: 19px; right: 9px; top: 7px; bottom: 7px; }
.content-box { height: 100%; position: absolute; left: 0; right: -17px; overflow-y: scroll; }
.content-list { -webkit-user-select: none; user-select: none; }
	.content-list li + li { margin-top: 10px; }
	.content-list img {
		width: 100%;
	}

/* scroll bar */
.scrollbar, .scroller { width: 4px; position: absolute; top: 0; }
.scrollbar { right: 0; bottom: 0; }
.scroller { left: 0; border-radius: 2px; background: #ccc; cursor: pointer; }

/* Hacks */
_:-ms-input-placeholder, :root .content-list { padding-left: 20px; }
